<div id="body">
    <section class="cards" ng-controller="CardsController">
        <div ng-repeat="card in cards" class="card">
            <div class="title">
               {{card.name}}
            </div>
            <div class="photo">
                <img alt="picture" ng-src="{{card.pictureUrl}}"/>
            </div>
            <div class="type">
                {{card.cardType}}
            </div>
            <div class="desc">
               {{card.description}} 
            </div>
        </div>
    </section>
</div>
