<div>
    <img alt="club" class="club" ng-src="{{player.Club}}"/>
    <img alt="nation" class="nation" ng-src="{{player.Nation}}"/>
</div>
<div class="clear"></div>
<div class="spacer"></div>
<span class="pull-left suit-container top">{{player.Rank}}
	<span class="suit" ng-switch="player.Suit">
		<span ng-switch-when="Spades">&spades;</span>
		<span ng-switch-when="Clubs">&clubs;</span>
		<span ng-switch-when="Hearts">&hearts;</span>
		<span ng-switch-when="Diamonds">&diams;</span>
	</span>  	
</span>
<div class="photo">
    <img alt="picture" ng-src="{{player.PictureUrl}}"/>
    
</div>
<div class="type">
	<span ng-if="player.Name.length <= 16">
        {{player.Name}}
    </span>
    <span ng-if="player.Name.length > 16">
        {{player.ShortName}}
    </span>
</div>
<div class="attrs">
    {{player.Description}}
</div>
<span class="pull-right suit-container">{{player.Rank}}
	<span class="suit" ng-switch="player.Suit">
		<span ng-switch-when="Spades">&spades;</span>
		<span ng-switch-when="Clubs">&clubs;</span>
		<span ng-switch-when="Hearts">&hearts;</span>
		<span ng-switch-when="Diamonds">&diams;</span>
	</span>    
</span>