<div>
    <img alt="club" class="club" ng-src="{{player.Club}}"/>
    <img alt="nation" class="nation" ng-src="{{player.Nation}}"/>
</div>
<div class="clear"></div>
<div class="spacer"></div>
<span class="pull-left suit-container top {{player.Suit}}">{{player.Rank}}
	<span class="suit">
		<span class="icon-{{player.Suit}}"></span>
	</span>    
</span>
<span class="movement">
     <span ng-repeat="char in player.Movement.split('') track by $index">
     	<span ng-if="$index < 2">{{char}}</span>
     	<span ng-if="$index > 1" class="icon-{{char}}"></span>
     </span>
</span>
<div class="photo">
    <img alt="picture" ng-src="{{player.PictureUrl}}"/>
    
</div>
<div class="type">
	<span ng-if="player.Name.length <= 16">
        {{player.Name}}
    </span>
    <span ng-if="player.Name.length > 16">
        {{player.ShortName}}
    </span>
    <span>
    	- {{player.Position}}
    </span>
</div>
<div class="attrs">
    {{player.Description}}
</div>
<span class="pull-right suit-container {{player.Suit}}">{{player.Rank}}
	<span class="suit">
		<span class="icon-{{player.Suit}}"></span>
	</span>    
</span>