<div>
    <button class="primary" ng-click="generateDeck()" ng-hide="generateDeckClick">Generate Deck</button>
    <button ng-click="dealCards()" ng-hide="dealHandClick">Deal Hand</button>
    <button ng-click="dealNextCard()">Deal Next Card</button>
</div>

<div class="left">
    <h3>My Deck</h3>
    <div class="card facedown" ng-show="generateDeckClick">
        <div class="num">{{deck.length}}</div>
    </div>
</div>

<div ng-show="generateDeckClick" class="left">
    <h3>My Manager</h3>
    <div class="card {{manager.prototype.style}}" >
        <card-manager data="manager"></card-manager>
    </div>
</div>

<div ng-show="dealHandClick" class="cards">
    <h3>My Hand - {{hand.length}}</h3>
    <div ng-repeat="card in hand track by $index" ng-switch on="card.prototype.cardType" class="card {{card.prototype.style}}">
        <card-player2 data="card" ng-switch-when="Player"></card-player2>
        <card-manager data="card" ng-switch-when="Manager"></card-manager>
        <card-move data="card" ng-switch-when="Move"></card-move>
        <card-tactic data="card" ng-switch-when="Tactic"></card-tactic>
    </div>
</div>
<div class="clear"></div>
<hr/>