html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    /* Move down content because we have a fixed navbar that is 50px tall */
    padding-top: 40px;
}

#footer {
    height: 60px;
    background-color: #e2e2e2;
    padding: 10px 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


    /* Scrollbar
  ---------------------------------------*/

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
}
::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(155,155,155,0.9); 
}


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        background: url("../Images/accent.png") no-repeat;
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


.clear {
    clear: both;
}

/* Cards
----------------------------------------------------------*/
.cards .card {
    float: left;
    margin: 20px; 
    position: relative;
}

.card {
    height: 320px;
    width: 223px;
    border: 10px solid black;
    border-radius: 10px;
    background-color: #777;
    padding: 5px;
    position: relative;
}

.card.generic {
    background-image:url('/images/cards/genericbg.jpg');
}

.card.total {
    background-color: #f68b32;
    background-image:url('/images/cards/totalbg.jpg');
}

.card.organised {
    background-color: green;
    background-image:url('/images/cards/organisedbg.jpg');
}

.card.latin {
    background-color: red;
    background-image:url('/images/cards/latinbg.jpg');
}

.card.physical {
    background-color: purple;
    background-image:url('/images/cards/physicalbg.jpg');
}

.card.counter {
    background-color: black;
    background-image:url('/images/cards/counterbg.jpg');
}

.card .club {
    width: 22px;
    left: 17px;
}

.card .nation {
    width: 30px;
    right: 17px;
}

.card .club, .card .nation {
    position: absolute;
    z-index: 1000;
    top: 40px;
}

.card .title, .card .type,
.card .photo, .card .attrs {
    background-color: #999;
}

.card .title, .card .type {
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px 10px;
    font-weight: 700;
    font-size: 12px;
}



.card .photo, .card .attrs {
    margin: 0px 10px;
}

.card .photo img {
    width: 115px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.card .attack, 
.card .defence, 
.card .title .score,
.card-pitch .attack,
.card-pitch .defence {
    background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background-color: red;
    border: 2px solid white;
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 23px; 
    min-width: 14px;
    padding: 4px 5px 0 5px;
    text-align: center;
    bottom: 0px;
    position: absolute;
}

.card-pitch .attack,
.card-pitch .defence {
	top: 0;
}

.card .title .score {
    background-color: blue;
    right: 7px;
    top: 7px;
}

.card .attack,
.card-pitch .attack {
    background-color: green;
    left: 0px;
}

.card .defence,
.card-pitch .defence {
    background-color: red;
    right: 0px;
}

.card-pitch .attack {
	left: auto;
    right: -5px;
}

.card-pitch .defence {
    right: -14px;
    top: 22px;
}


.card .type {
    /*margin-top: -4px;*/
}

.card .attrs {
    border: 2px solid black;
    padding: 2px 10px;
    margin-top: -2px;
    font-size: 11px;
    height: 120px;
    overflow: auto;
}

.card .attrs.moves {
    height: 150px;
}

.card .attrs .header {
    background-color: #777777;
    margin-left: -10px;
    padding: 0 5px;
    width: 113%;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    margin-top: -2px;
}

.card .attrs .header.last {
    margin-top: 10px;
}

.card .attrs .key {
    font-weight: 700;
    /*min-width: 136px;*/
    display: inline-block;
}

.card .attrs .value {
    float: right;
}

.search {
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}

.search label { font-weight: 700; }

.navbar-header .navbar {
	margin-bottom: none;
	border: none;
}

.navbar.subnavbar a, .navbar.subnavbar a:visited {
    color: #fff;
    padding: 6px 15px;
}

.navbar.subnavbar a:hover {
    color: #000;
    border-radius: 4px;
}

.navbar a, .navbar .nav > li {
    display: inline-block;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
}

.navbar .nav {
	margin-top: 9px;
	text-align: right;
}

.navbar.subnavbar {
    min-height: 100%;
    border-radius: 0;
    margin-bottom: 0!important;
    text-align: center;
}

.navbar.subnavbar .submenu ul {
    display: none;
    position: absolute;
    list-style-type: none;
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    background-repeat: repeat-x;
    width: 110px;
    padding: 5px;
    z-index: 10000;
}

.navbar.subnavbar .submenu ul li a {
    display: block;
    padding: 5px 20px;
    text-align: left;
}

.navbar.subnavbar .submenu:hover ul {
    display: block;
}

.left {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

.card.facedown {
    background: #fff url("images/cardback.png") no-repeat center center;
}

.card.facedown .num {
    position: absolute;
    color: #fff;
    font-size: 30px;
}


/********************************************
 *   Print Styles
 ********************************************/

.print-container {
    position: fixed;
    top: 162px;
    left: 320px;
    z-index: 100000;
    background-color: #efeeef;
}


body.print {
    padding-top: 0;
    border-top: none;
}



body.print .cards .card {
    margin: 0;
}

@media print {
    body.print .printspacer {
        width: 100%;
        height: 100px;
        clear: both;
    }


    body.print .cards .card {
        background-color: #777 !important;
        -webkit-print-color-adjust: exact; 
    }

    body.print .card .title, body.print .card .type,
    body.print .card .photo, body.print .card .attrs {
        background-color: #999 !important;
        -webkit-print-color-adjust: exact;
    }

    body.print .cards .card.generic {
    }

    body.print .cards .card.generic {
    background-image:url('/images/cards/genericbg.jpg')!important;
}

     body.print .cards .card.total {
        background-color: #f68b32 !important;
        background-image:url('/images/cards/totalbg.jpg') !important;
    }

     body.print .cards .card.organised {
        background-color: green !important;
        background-image:url('/images/cards/organisedbg.jpg') !important;
    }

     body.print .cards .card.latin {
        background-color: yellow !important;
        background-image:url('/images/cards/latinbg.jpg') !important;
    }

     body.print .cards .card.physical {
        background-color: white !important;
        background-image:url('/images/cards/physicalbg.jpg') !important;
    }

     body.print .cards .card.counter {
        background-color: black !important;
        background-image:url('/images/cards/counterbg.jpg') !important;
    }

      body.print  .card .attack,  body.print  .card .defence,  body.print  .card .title .score {
        background: radial-gradient( 5px -9px, circle, white 8%, red 26px )!important;
        background-color: red!important;
        border: 2px solid white!important;
        box-shadow: 1px 1px 1px black!important;
        color: white!important;
    }

     body.print .card .title .score {
        background-color: blue!important;
        right: 7px;
        top: 7px;
    }

     body.print .card .attack {
        background-color: green!important;
        left: 0px;
    }

     body.print .card .defence {
        background-color: red!important;
        right: 0px;
    }
}

/*********************************
 * Game 
 *********************************/
/*
.body-game {
	position: absolute;
	top: 52px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
*/



/**********************************
 * Pitch styles
 **********************************/
.pitch {
	background: transparent url("images/pitch-960x540.jpg") no-repeat center center;
	height: 540px;
	color: #fff;
	position: relative;
}

.align-right {
	text-align: right;
}

/**********************************
 * Comapct cards
 **********************************/
.card-compact {
	width: 120px;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid transparent;
}

.card-compact:hover {
	cursor: move;	
}

.card-compact .right {
	float: right;
	padding-top: 4px;
	margin-top: 2px;
}

.card-compact img {
	width:100px;
	text-align: center;
}


/**********************************
 * Pitch cards 
 **********************************/

.card-pitch {
	position: relative;
	margin-bottom: 20px;
}

.card-pitch img {
	border-radius: 50%;
	width: 50px;
	border: 1px solid #FFFFFF;
 	margin: 10px;
 	box-shadow: 0px 0px 0px 7px rgba(0, 0, 0, 0.3), 
             	0px 20px 15px 0px rgba(0, 0, 0, 0.6); 
}

.card-pitch label {
	text-align: center;
	margin-left: -19px;
	width: 68px;
	font-size: 13px;
}
.card-pitch a {
	color: #fff;
	border: 1px solid #fff;
	padding: 5px;
}

.card-pitch .btn {
	font-size: 10px;
	padding: 2px 2px;
}

.card-pitch .btn-group > .btn + .dropdown-toggle {
	padding-right: 4px;
	padding-left: 4px;
}


/************************************
 * Hand 
 ************************************/

.myhand .card, .card.scaledown {
	display: inline-block;
	margin-left: -60px;
	/*General*/
	transform: scale(0.7, 0.7);
	/*Firefox*/
	-moz-transform: scale(0.7, 0.7);
	/*Microsoft Internet Explorer*/
	-ms-transform: scale(0.7, 0.7);
	/*Chrome, Safari*/
	-webkit-transform: scale(0.7, 0.7);
	/*Opera*/
	-o-transform: scale(0.7, 0.7);
}

.myhand .card:hover {
	margin-left: -30px;
	margin-right: 30px;
	/*General*/
	transform: translate(0px, -100px) scale(1, 1);
	/*Firefox*/
	-moz-transform: translate(0px, -100px) scale(1, 1);
	/*Microsoft Internet Explorer*/
	-ms-transform: translate(0px, -100px) scale(1, 1);
	/*Chrome, Safari*/
	-webkit-transform: translate(0px, -100px) scale(1, 1);
	/*Opera*/
	-o-transform: translate(0px, -100px) scale(1, 1);
}

/***********************************
 * Game Info 
 ***********************************/
.game-info .club {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	padding: 10px 0;
}

.game-info .club.left {
	text-align: right;
	padding-right: 1%;
	margin: 0;
}

.game-info .club.right {
	padding-left: 2%;
}

.game-info .club label {
	font-size: 2em;
	padding: 0 5px;
}

/***********************************
 * Managers 
 ***********************************/
.your-manager, .opp-manager {
	position: absolute;
}

.your-manager.card.scaledown, 
.opp-manager.card.scaledown {
	margin-left: 0;	
}

.your-manager {
	left: -60px;
	bottom: -48px;
}

.opp-manager {
	right: -60px;
	top: -48px;
}

.your-manager:hover {
	margin-left: -30px;
	margin-right: 30px;
	/*General*/
	transform: translate(0px, -48px) scale(1, 1);
	/*Firefox*/
	-moz-transform: translate(0px, -48px) scale(1, 1);
	/*Microsoft Internet Explorer*/
	-ms-transform: translate(0px, -48px) scale(1, 1);
	/*Chrome, Safari*/
	-webkit-transform: translate(0px, -48px) scale(1, 1);
	/*Opera*/
	-o-transform: translate(0px, -48px) scale(1, 1);
}

.opp-manager:hover {
	margin-left: -30px;
	margin-right: 30px;
	/*General*/
	transform: translate(0px, 48px) scale(1, 1);
	/*Firefox*/
	-moz-transform: translate(0px, 48px) scale(1, 1);
	/*Microsoft Internet Explorer*/
	-ms-transform: translate(0px, 48px) scale(1, 1);
	/*Chrome, Safari*/
	-webkit-transform: translate(0px, 48px) scale(1, 1);
	/*Opera*/
	-o-transform: translate(0px, 48px) scale(1, 1);
}

/**********************************
 * Game controls 
 **********************************/
.game-controls {
	position: absolute;
	width: 300px;
	right: 0;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 0;
	z-index: 999999;
}

.game-controls h4 {
	color: #fff;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#3c3c3c),to(#222));
	background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
	background-image: -moz-linear-gradient(top,#3c3c3c 0,#222 100%);
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c',endColorstr='#ff222222',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	padding: 10px;
	margin: 0;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
}

.game-controls h4:hover {
	cursor: move;
}

.game-controls .body {
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	padding: 10px;
}

#game .row {
	position: relative;
}


/*********************************
 * Screen sizes 
 *********************************/

@media all and (max-height: 800px) {
    .pitch {
		background: transparent url("images/pitch-802x272.jpg") no-repeat center center;
		height: 273px;
	}
	
	.myhand .card, .card.scaledown {
		/*General*/
		transform: scale(0.5, 0.5);
		/*Firefox*/
		-moz-transform: scale(0.5, 0.5);
		/*Microsoft Internet Explorer*/
		-ms-transform: scale(0.5, 0.5);
		/*Chrome, Safari*/
		-webkit-transform: scale(0.5, 0.5);
		/*Opera*/
		-o-transform: scale(0.5, 0.5);
	}
	
	.game-info .club {
		padding: 0;
	}
	
	.opp-manager {
		right: 25px;
		top: -79px;
	}
	
	.your-manager {
		left: 29px;
		bottom: -80px;
	}
	
	.game-controls {
		width: 150px;
	}
	
	.game-controls h4, .game-controls .body {
		padding: 5px;
	}
	
	.card-pitch .btn-group {
		margin-top: -10px;
	}
	
	.card-pitch {
		margin-bottom: 0px;
	}

	
	.card-pitch img {
		border-radius: 50%;
		width: 35px;
		border: 1px solid #FFFFFF;
	 	margin: 5px;
	 	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.3), 
	             	0px 3px 5px 0px rgba(0, 0, 0, 0.6); 
	}
	
	.card-pitch label {
		text-align: center;
		margin-left: -13px;
		width: 61px;
		font-size: 11px;
	}
	.card-pitch a {
		padding: 2px;
	}

	.card-pitch .attack, .card-pitch .defence {
		border: 2px solid white;
		border-radius: 12px;
		font: bold 11px/11px Helvetica, Verdana, Tahoma;
		height: 17px;
		min-width: 10px;
		padding: 1px 3px 0 3px;
		bottom: 0px;
	}
	
	.card-pitch .attack {
		left: auto;
		right: 14px;
	}

	.card-pitch .defence {
		right: 11px;
		top: 17px;
	}	
	
	.your-manager:hover {
		margin-left: -30px;
		margin-right: 30px;
		/*General*/
		transform: translate(0px, -48px) scale(1, 1);
		/*Firefox*/
		-moz-transform: translate(0px, -48px) scale(1, 1);
		/*Microsoft Internet Explorer*/
		-ms-transform: translate(0px, -48px) scale(1, 1);
		/*Chrome, Safari*/
		-webkit-transform: translate(0px, -48px) scale(1, 1);
		/*Opera*/
		-o-transform: translate(0px, -48px) scale(1, 1);
		z-index: 10000;
	}
	
	.opp-manager:hover {
		margin-left: -30px;
		margin-right: 30px;
		/*General*/
		transform: translate(0px, 48px) scale(1, 1);
		/*Firefox*/
		-moz-transform: translate(0px, 48px) scale(1, 1);
		/*Microsoft Internet Explorer*/
		-ms-transform: translate(0px, 48px) scale(1, 1);
		/*Chrome, Safari*/
		-webkit-transform: translate(0px, 48px) scale(1, 1);
		/*Opera*/
		-o-transform: translate(0px, 48px) scale(1, 1);
		z-index: 10000;
	}	
}

