<div>
    <img alt="club" class="club" ng-src="{{player.Club}}"/>
    <img alt="nation" class="nation" ng-src="{{player.Nation}}"/>
</div>
<div class="clear"></div>
<div class="title">
    <span ng-if="player.Name.length <= 16">
        {{player.Name}}
    </span>
    <span ng-if="player.Name.length > 16">
        {{player.ShortName}}
    </span>
    <span class="score total">{{player.Cost}}</span>
</div>
<div class="photo">
    <img alt="picture" ng-src="{{player.PictureUrl}}"/>
    
</div>
<div class="type">
    {{player.CardType}} - {{player.Position}}
</div>
<div class="attrs">
    {{player.Description}}
</div>
<span class="attack">{{player.Attack}}</span>
<span class="defence">{{player.Stamina}}</span>