/*********************************
 * Game 
 *********************************/
/*
.body-game {
	position: absolute;
	top: 52px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
*/



/**********************************
 * Pitch styles
 **********************************/
.pitch-outer{ 
	margin-top:-150px; 
	-o-perspective:800px; 
	-moz-perspective:800px; 
	-ms-perspective:800px; 
	-webkit-perspective:800px; 
	perspective:800px;
	position:relative;
}
.pitch {
	background: transparent url("../images/pitch-960x540.jpg") no-repeat center center;
	height: 540px;
	color: #fff;
	position: relative;
    -o-transform-origin: bottom; 
    -moz-transform-origin: bottom; 
    -ms-transform-origin: bottom; 
    -webkit-transform-origin: bottom; 
    transform-origin: bottom;

    -o-transform: rotateX(45deg); 
    -moz-transform: rotateX(45deg); 
    -ms-transform: rotateX(45deg); 
    -webkit-transform: rotateX(45deg); 
    transform: rotateX(45deg);

    -o-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
    -webkit-transform-style: preserve-3d; 
    transform-style: preserve-3d
}

.align-right {
	text-align: right;
}

/**********************************
 * Comapct cards
 **********************************/
.card-compact {
	width: 120px;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid transparent;
}

.card-compact:hover {
	cursor: move;	
}

.card-compact .right {
	float: right;
	padding-top: 4px;
	margin-top: 2px;
}

.card-compact img {
	width:100px;
	text-align: center;
}


/**********************************
 * Pitch cards 
 **********************************/

.card-pitch {
	position: relative;
	margin-bottom: 20px;
    -o-transform-origin: bottom; 
    -moz-transform-origin: bottom; 
    -ms-transform-origin: bottom; 
    -webkit-transform-origin: bottom; 
    transform-origin: bottom;
    
    -o-transform: rotateX(-45deg);
    -moz-transform: rotateX(-45deg);
    -ms-transform: rotateX(-45deg);
    -webkit-transform: rotateX(-45deg); 
    transform: rotateX(-45deg);
}

.card-pitch img {
	border-radius: 50%;
	width: 50px;
	border: 1px solid #FFFFFF;
 	margin: 10px;
 	box-shadow: 0px 0px 0px 7px rgba(0, 0, 0, 0.3), 
             	0px 20px 15px 0px rgba(0, 0, 0, 0.6); 
}

.card-pitch label {
	text-align: center;
	margin-left: -19px;
	width: 68px;
	font-size: 13px;
}
.card-pitch a {
	color: #fff;
	border: 1px solid #fff;
	padding: 5px;
}

.card-pitch .btn {
	font-size: 10px;
	padding: 2px 2px;
}

.card-pitch .btn-group > .btn + .dropdown-toggle {
	padding-right: 4px;
	padding-left: 4px;
}


/************************************
 * Hand 
 ************************************/

.myhand .card, .card.scaledown {
	display: inline-block;
	margin-left: -60px;
	
	/*Firefox*/
	-moz-transform: scale(0.7, 0.7);
	/*Microsoft Internet Explorer*/
	-ms-transform: scale(0.7, 0.7);
	/*Chrome, Safari*/
	-webkit-transform: scale(0.7, 0.7);
	/*Opera*/
	-o-transform: scale(0.7, 0.7);
	/*General*/
	transform: scale(0.7, 0.7);
}

.myhand .card:hover {
	margin-left: -30px;
	margin-right: 30px;
	/*Firefox*/
	-moz-transform: translate(0px, -100px) scale(1, 1);
	/*Microsoft Internet Explorer*/
	-ms-transform: translate(0px, -100px) scale(1, 1);
	/*Chrome, Safari*/
	-webkit-transform: translate(0px, -100px) scale(1, 1);
	/*Opera*/
	-o-transform: translate(0px, -100px) scale(1, 1);
	/*General*/
	transform: translate(0px, -100px) scale(1, 1);
}

.myhand .card:hover::after {
		content:'';
		position:absolute;
		right:-10px;
		left:-10px;
		bottom:-90px;
		height:80px;
		z-index:-1;
}