/********************************************
 *   Print Styles
 ********************************************/

.print-container {
    position: fixed;
    top: 162px;
    left: 320px;
    z-index: 100000;
    background-color: #efeeef;
}


body.print {
    padding-top: 0;
    border-top: none;
}



body.print .cards .card {
    margin: 0;
}

@media print {
    body.print .printspacer {
        width: 100%;
        height: 100px;
        clear: both;
    }


    body.print .cards .card {
        background-color: #777 !important;
        -webkit-print-color-adjust: exact; 
    }

    body.print .card .title, body.print .card .type,
    body.print .card .photo, body.print .card .attrs {
        background-color: #999 !important;
        -webkit-print-color-adjust: exact;
    }

    body.print .cards .card.generic {
    }

    body.print .cards .card.generic {
    background-image:url('../images/cards/genericbg.jpg')!important;
}

     body.print .cards .card.total {
        background-color: #f68b32 !important;
        background-image:url('../images/cards/totalbg.jpg') !important;
    }

     body.print .cards .card.organised {
        background-color: green !important;
        background-image:url('../images/cards/organisedbg.jpg') !important;
    }

     body.print .cards .card.latin {
        background-color: yellow !important;
        background-image:url('../images/cards/latinbg.jpg') !important;
    }

     body.print .cards .card.physical {
        background-color: white !important;
        background-image:url('../images/cards/physicalbg.jpg') !important;
    }

     body.print .cards .card.counter {
        background-color: black !important;
        background-image:url('../images/cards/counterbg.jpg') !important;
    }

      body.print  .card .attack,  body.print  .card .defence,  body.print  .card .title .score {
        background: radial-gradient( 5px -9px, circle, white 8%, red 26px )!important;
        background-color: red!important;
        border: 2px solid white!important;
        box-shadow: 1px 1px 1px black!important;
        color: white!important;
    }

     body.print .card .title .score {
        background-color: blue!important;
        right: 7px;
        top: 7px;
    }

     body.print .card .attack {
        background-color: green!important;
        left: 0px;
    }

     body.print .card .defence {
        background-color: red!important;
        right: 0px;
    }
}