<div id="body">
    <br />
    <section class="cards" ng-controller="MoveCardsController">
        <!-- Moves -->
        <div ng-repeat="move in moves | filter: {name: searchTerm}" class="card" >
            <div class="clear"></div>
            <div class="title">
                {{move.prototype.name}}
            </div>
            <div class="photo">
                <img alt="picture" ng-src="{{move.prototype.pictureUrl}}"/>
            </div>
            <div class="type">
                {{move.prototype.cardType}}
            </div>
            <div class="attrs">
                <div >
                    <div>
                        <span class="key">Att Position: </span><span class="value">{{move.attackingPosition}}</span>
                    </div>
                    <div>
                        <span class="key">Def Position: </span><span class="value">{{move.defendingPosition}}</span>
                    </div>
                    <div>
                        <span class="key">Att Attribute: </span><span class="value">{{move.attackingAttribute}}</span>
                    </div>
                    <div>
                        <span class="key">Def Attribute: </span><span class="value">{{move.defendingPosition}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
