<div id="body">
    <br />
    <section class="cards" ng-controller="PlayerCardsController">
        <div class="search">
            <label>Search by name: </label>
            <input type="text" ng-model="searchTerm"/>
        </div>
        <div class="clear"></div>
        <div ng-repeat="player in players | filter: {prototype.name: searchTerm}" class="card {{player.prototype.style}}" >
            <div>
                <img alt="club" class="club" ng-src="{{player.club}}"/>
                <img alt="nation" class="nation" ng-src="{{player.nation}}"/>
            </div>
            <div class="clear"></div>
            <div class="title">
                <span ng-if="player.prototype.name.length <= 16">
                    {{player.prototype.name}}
                </span>
                <span ng-if="player.prototype.name.length > 16">
                    {{player.prototype.shortName}}
                </span>
                <span class="score">
                    {{player.attackingRating}} /
                    {{player.defensiveRating}}
                </span>
            </div>
            <div class="photo">
                <img alt="picture" ng-src="{{player.prototype.pictureUrl}}"/>
            </div>
            <div class="type">
                {{player.prototype.cardType}} - {{player.position}}
            </div>
            <div class="attrs">
                    <!--<div>
                        <span class="key">Overall: </span><span class="value">{{player.overallRating}}</span>
                    </div>-->
                <div ng-repeat="(key, value) in player.strengths">
                    <div>
                        <span class="key">{{key}}: </span><span class="value">+ {{value}}</span>
                    </div>
                </div>
                <div ng-repeat="(key, value) in player.weaknesses">
                    <div>
                        <span class="key">{{key}}: </span><span class="value">- {{value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
