<div id="body">
    <h1>Select cards you want to print</h1>
    <section class="cards selectcards" ng-controller="CardsController">
        <div class="search">
            <label>Search by name: </label>
            <input type="text" ng-model="searchTerm"/>
        </div>
        <div class="search print-container">
            <button ng-click="print()">Print</button>
        </div>
        <div class="clear"></div>
        <div ng-repeat="player in players | filter: {prototype.name: searchTerm}" class="card {{player.prototype.style}}" >
            <div>
                <img alt="club" class="club" ng-src="{{player.club}}"/>
                <img alt="nation" class="nation" ng-src="{{player.nation}}"/>
            </div>
            <div class="clear"></div>
            <div class="title">
                <span ng-if="player.prototype.name.length <= 16">
                    {{player.prototype.name}}
                </span>
                <span ng-if="player.prototype.name.length > 16">
                    {{player.prototype.shortName}}
                </span>
                <span class="score">
                    {{player.attackingRating}} /
                    {{player.defensiveRating}}
                </span>
            </div>
            <div class="photo">
                <img alt="picture" ng-src="{{player.prototype.pictureUrl}}"/>
            </div>
            <div class="type">
                {{player.prototype.cardType}} - {{player.position}}
            </div>
            <div class="attrs">
                    <!--<div>
                        <span class="key">Overall: </span><span class="value">{{player.overallRating}}</span>
                    </div>-->
                <div ng-repeat="(key, value) in player.strengths">
                    <div>
                        <span class="key">{{key}}: </span><span class="value">+ {{value}}</span>
                    </div>
                </div>
                <div ng-repeat="(key, value) in player.weaknesses">
                    <div>
                        <span class="key">{{key}}: </span><span class="value">- {{value}}</span>
                    </div>
                </div>
            </div>
            <input type="checkbox" name="card" />
        </div>
        <!-- Moves -->
        <div ng-repeat="move in moves | filter: {name: searchTerm}" class="card  {{move.prototype.style}}" >
            <div class="clear"></div>
            <div class="title">
                {{move.prototype.name}}
            </div>
            <div class="photo">
                <img alt="picture" ng-src="{{move.prototype.pictureUrl}}"/>
            </div>
            <div class="type">
                {{move.prototype.cardType}}
            </div>
            <div class="attrs moves">
                <div class="header">Attacker</div>
                <div ng-repeat="(key, value) in move.attackingAttributes">
                    <div>
                        <span class="key">{{key}}: </span><span class="value">{{value}}</span>
                    </div>
                </div>
                <div class="header last">Defender</div>
                <div ng-repeat="(key, value) in move.defendingAttributes">
                    <div>
                        <span class="key">{{key}}: </span><span class="value">{{value}}</span>
                    </div>
                </div>
            </div>
            <input type="checkbox" name="card" />
        </div>
        
        <div ng-repeat="tactic in tactics | filter: {name: searchTerm}" class="card {{tactic.prototype.style}}" >
            <div class="clear"></div>
            <div class="title">
                {{tactic.prototype.name}}
            </div>
            <div class="photo">
                <img alt="picture" ng-src="{{tactic.prototype.pictureUrl}}"/>
            </div>
            <div class="type">
                {{tactic.prototype.cardType}}
            </div>
            <div class="attrs">
                <div >
                    {{tactic.prototype.description}}
                </div>
            </div>
            <input type="checkbox" name="card" />
        </div>
        <div class="clear"></div>
        <div class="search">
            <button ng-click="print()">Print</button>
        </div>
    </section>
    <section class="printcards cards">
        
    </section>
</div>
