<div class="container">
    <br />
    <div id="wiki-wrapper" class="page">

        <div id="wiki-content">
            <div class="wrap">
                <div id="wiki-body" class="gollum-markdown-content instapaper_body">
                    <div class="markdown-body">
                        <h1>
                            <a name="foobar-football" class="anchor" href="#foobar-football"><span class="octicon octicon-link"></span></a>FooBar Football</h1>

                        <p>CCG / LCG card game based upon football. Inspired by Magic the Gathering, Football Manager, FIFA Ultimate team, Match Atax and a host of other games.</p>

                        <h2>
                            <a name="tactic-cards" class="anchor" href="#tactic-cards"><span class="octicon octicon-link"></span></a>Tactic Cards</h2>

                        <h3>
                            <a name="white" class="anchor" href="#white"><span class="octicon octicon-link"></span></a>White</h3>

                        <h4>
                            <a name="direct-football" class="anchor" href="#direct-football"><span class="octicon octicon-link"></span></a>Direct football</h4>

                        <p>Characteristics: The no-nonsense British style incorporates a lot of traditional values that have been present in England since the emergence of football. Attacks are set up quickly with few touches on the ball. Passes are direct, often sent over the defense. This fast pace mentality often leads to fierce fighting over 50-50 balls. Crosses are served in from any available position.</p>

                        <ul>
                            <li>Physical</li>
                            <li>Direct</li>
                            <li>Quick</li>
                        </ul><p><img src="https://f.cloud.github.com/assets/1144016/1165193/77e98542-2068-11e3-8540-219844abca9b.jpg" alt="Physical"></p>

                        <h3>
                            <a name="black" class="anchor" href="#black"><span class="octicon octicon-link"></span></a>Black</h3>

                        <h4>
                            <a name="counter-football" class="anchor" href="#counter-football"><span class="octicon octicon-link"></span></a>Counter football</h4>

                        <p>Characteristics: Italian teams are very cautious about the number of players they are committing forward. Players use a variety of skills and the tempo changes often during buildup. Attackers make runs at indirect angles which is unpredictable and difficult to contain. Defenders prefer to slow down the tempo by shielding and playing the ball back. Most Italian teams like to saturate their own half and shut down their opposition.</p>

                        <ul>
                            <li>Skillful</li>
                            <li>Cunning</li>
                            <li>Cautious</li>
                        </ul><p><img src="https://f.cloud.github.com/assets/1144016/1165190/77b9c00a-2068-11e3-8404-dcb0627bddf6.jpg" alt="Counter"></p>

                        <h3>
                            <a name="blue" class="anchor" href="#blue"><span class="octicon octicon-link"></span></a>Blue</h3>

                        <h4>
                            <a name="latin-football" class="anchor" href="#latin-football"><span class="octicon octicon-link"></span></a>Latin football</h4>

                        <p>Characteristics: The Latin game is very distinctive because of its possession-oriented character. Attacks are developed using of possession. The ball is moved spontaneously with a lot of individual-based plays. Latin teams from Spain, Portugal, Brazil and Argentina are typical examples. Brazil takes it to the extreme with their improvisational and free-flowing style.</p>

                        <ul>
                            <li>Confidence</li>
                            <li>Dribblers</li>
                            <li>Creative</li>
                        </ul><p>Jackal pups; <a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name=Jackal%20Pup">http://gatherer.wizards.com/Pages/Card/Details.aspx?name=Jackal%20Pup</a></p>

                        <p><img src="https://f.cloud.github.com/assets/1144016/1165191/77c97cf2-2068-11e3-92b1-9353f526c43b.jpg" alt="Latin"></p>

                        <h3>
                            <a name="orange" class="anchor" href="#orange"><span class="octicon octicon-link"></span></a>Orange</h3>

                        <h4>
                            <a name="total-football" class="anchor" href="#total-football"><span class="octicon octicon-link"></span></a>Total football</h4>

                        <p>Characteristics: Plays are developed with creativity yet there it is a sense of composure and team coordination. Positioning is not very strict so there is plenty of movement without the ball in order to accommodate.
                            Success: Holland’s Total Football has revolutionized the game and their collectivist mentality is the basis of what is to considered the “continental” style.</p>

                        <ul>
                            <li>Passing</li>
                            <li>Utility</li>
                        </ul><p><img src="https://f.cloud.github.com/assets/1144016/1165194/77f7d70a-2068-11e3-98c3-a7b7ccf61e04.jpg" alt="Total"></p>

                        <h3>
                            <a name="green" class="anchor" href="#green"><span class="octicon octicon-link"></span></a>Green</h3>

                        <h4>
                            <a name="organised--football" class="anchor" href="#organised--football"><span class="octicon octicon-link"></span></a>Organised  football</h4>

                        <p>Characteristics: The game is played in a very direct way with forceful although predictable attacks. In defense, a definite shape is always preserved. Players have very specific roles within their team and rarely improvise. Northern teams, such as Germany or Sweden, either keep possession or attack by hammering forward. There is no in between.</p>

                        <ul>
                            <li>Aggressive</li>
                            <li>Fast</li>
                            <li>Organised</li>
                        </ul><p><img src="https://f.cloud.github.com/assets/1144016/1165192/77d86686-2068-11e3-91d0-4c49c16eacd4.jpg" alt="Organised"></p>

                        <h2>
                            <a name="foobar-card-types" class="anchor" href="#foobar-card-types"><span class="octicon octicon-link"></span></a>FooBar Card Types</h2>

                        <p>Player</p>

                        <p><img src="https://f.cloud.github.com/assets/1144016/1149704/5aa2f26e-1edf-11e3-8bf8-edd9efd9a31e.jpg" alt="Player"></p>

                        <p>Players have an assosiated tactical cost: </p>

                        <ul>
                            <li>To move "Gary Cahill" onto the pitch you require 2 black tactic cards aka "Organised Football" basic tactic cards.</li>
                        </ul><p>Players have 6 key attributes:</p>

                        <ul>
                            <li>Pace</li>
                            <li>Shooting</li>
                            <li>Passing</li>
                            <li>Dribbling</li>
                            <li>Defending</li>
                            <li>Heading</li>
                        </ul><p>These key attributes determine how well the player is able to perform a move.</p>

                        <h3>
                            <a name="moves" class="anchor" href="#moves"><span class="octicon octicon-link"></span></a>Moves</h3>

                        <p>In order to perform a move you require:</p>

                        <ul>
                            <li>A player of the correct position type</li>
                            <li>A player of the correct tactic type on the pitch</li>
                            <li>The players skill attibute</li>
                        </ul><p>In the example above a "Short Pass from defence" requires 2 Organised Football tactic cards, a "Centre back" to perform the move and the value of the players "Passing" attribute.</p>

                        <p>"Gary Cahill" can perform this move because he is an "Organised Football" player, a "Centre back". He will contribute X points to the move as that is his "Passing" attribute.</p>

                        <p>If "Gary Cahill" Successfully completes this move the manager gains 2 impact points. </p>

                        <h3>
                            <a name="equipment-artifacts" class="anchor" href="#equipment-artifacts"><span class="octicon octicon-link"></span></a>Equipment (Artifacts)</h3>
                    </div>
                </div>
            </div>

        </div>
        <div id="gollum-footer">
            <p id="last-edit">
                Last edited by Liam Molloy, <time class="js-relative-date" datetime="2013-10-01T00:42:36-07:00" title="2013-10-01 00:42:36">a month ago</time>
            </p>
        </div>
    </div>
</div>
